In [12]:
# DEPENDENCIES
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st
from datetime import datetime

# DATA FILES
path_regions = "groupedbyregion.csv"

# READ CRIME DATA
region_data = pd.read_csv(path_regions)
region_data

,District,Year,Offence Group,Total Number of Offences
0,Armadale District,7,Assault Police Officer,48.0
1,Armadale District,7,Attempted / Conspiracy to Murder,0.0
2,Armadale District,7,Breach of Family Violence Restraint Order,558.0
3,Armadale District,7,Breach of Police Order,37.0
4,Armadale District,7,Breach of Violence Restraint Order,157.0
...,...,...,...,...
12091,Wheatbelt District,20,Stealing From Retail Premises (Shoplift),44.0
12092,Wheatbelt District,20,Stealing as a Servant,1.0
12093,Wheatbelt District,20,Stealing of Motor Vehicle,23.0
12094,Wheatbelt District,20,Threatening Behaviour (Family),17.0
12095,Wheatbelt District,20,Threatening Behaviour (Non-Family),11.0

In [13]:
region_data.drop(region_data[region_data['Year'] < 16].index, inplace = True)
region_data

,District,Year,Offence Group,Total Number of Offences
432,Armadale District,16,Assault Police Officer,61.0
433,Armadale District,16,Attempted / Conspiracy to Murder,0.0
434,Armadale District,16,Breach of Family Violence Restraint Order,999.0
435,Armadale District,16,Breach of Police Order,192.0
436,Armadale District,16,Breach of Violence Restraint Order,165.0
...,...,...,...,...
12091,Wheatbelt District,20,Stealing From Retail Premises (Shoplift),44.0
12092,Wheatbelt District,20,Stealing as a Servant,1.0
12093,Wheatbelt District,20,Stealing of Motor Vehicle,23.0
12094,Wheatbelt District,20,Threatening Behaviour (Family),17.0
12095,Wheatbelt District,20,Threatening Behaviour (Non-Family),11.0

In [14]:
region_data.drop(region_data[region_data['Year'] > 16].index, inplace = True)
region_data

,District,Year,Offence Group,Total Number of Offences
432,Armadale District,16,Assault Police Officer,61.0
433,Armadale District,16,Attempted / Conspiracy to Murder,0.0
434,Armadale District,16,Breach of Family Violence Restraint Order,999.0
435,Armadale District,16,Breach of Police Order,192.0
436,Armadale District,16,Breach of Violence Restraint Order,165.0
...,...,...,...,...
11899,Wheatbelt District,16,Stealing From Retail Premises (Shoplift),0.0
11900,Wheatbelt District,16,Stealing as a Servant,6.0
11901,Wheatbelt District,16,Stealing of Motor Vehicle,126.0
11902,Wheatbelt District,16,Threatening Behaviour (Family),49.0
11903,Wheatbelt District,16,Threatening Behaviour (Non-Family),48.0

In [16]:
#export grouped data to csv
region_data.to_csv('Data/region.csv',index=False)